@model DESSAU.ControlGestion.Web.Models.EWPModels.CrearEditarSubEWPViewModel

@{
    ViewBag.Title = "DESSAU";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "form-nuevo-subewp" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @if (Model.Form.IdSubEWP.HasValue)
            {
                <h4>Editar Sub EWP</h4>
            }
            else
            {
                <h4>Agregar Sub EWP</h4>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.Form.IdSubEWP)
                </div>
            </div>
            <div class="form-group">
                <label for="Nombre" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.IdEWP)</label>
                <div class="col-md-5">
                    @Html.DropDownListFor(x => x.Form.IdEWP, Model.EWPs, "Seleccione", new { @class = "form-control " })
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.IdEWP)
                </div>
            </div>
            <div class="form-group">
                <label for="Nombre" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.Codigo)</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Form_Codigo" name="Form.Codigo" placeholder="Codigo" value="@Model.Form.Codigo" />
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.Codigo)
                </div>
            </div>
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
}

