@model DESSAU.ControlGestion.Web.Models.EvaluacionModels.EvaluationSheetViewModel

@{
    ViewBag.Title = "EvaluationSheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#FORM_IdCategoria').CascadingDropDown('#FORM_IdProyecto', $.url('EvaluacionDesempeno/getCategoriaFromProyecto'));
            $('#FORM_IdCategoria').change();
        });

        //$(function () {
        //    $('#FORM_IdUsuario').CascadingDropDown('#FORM_IdProyecto', $.url('EvaluacionDesempeno/getProfesionalFromProyecto'));
        //    $('#FORM_IdUsuario').change();
        //});
    </script>
}
<div class="row">
    <div class="col-md-12">
        <h2><i class="fa fa-line-chart" aria-hidden="true"></i> @String.Format("Evaluación de Desempeño {0}", Model.FORM.Periodo)</h2>
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left" role="search" method="get">
                <div class="form-group">
                    <input type="text" id="Form_Periodo" class="form-control monthPicker" placeholder="Periodo" name="Form.Periodo" value="@Model.FORM.Periodo" />
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.DropDownListFor(x => x.FORM.IdProyecto, Model.Proyectos, "Seleccione una ODS", new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.HiddenFor(x => x.FORM.IdProyecto)
                    }
                    @Html.DropDownListFor(x => x.FORM.IdCategoria, Model.Categorias, "Seleccione una Categoría", new { @class = "form-control" })
                    @*@Html.DropDownListFor(x => x.FORM.IdUsuario, Model.Usuarios, "Seleccione un Profesional", new { @class = "form-control" })*@
                </div>
                <button type="submit" id="button-periodo" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </div>
</nav>


@if (Model.PlantillaEvaluacion != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">@Model.PlantillaEvaluacion.Nombre</h4>
                </div>
                <div class="panel-body">
                    <p>Ingrese el valor obtenido en todas las habilidades para cada profesional en las filas del formulario con valores de 1 a 5. Al final de la página puede ver la escala de <i>Valoración de Comportamiento</i>. Tiene la posibilidad de hacer la evaluación para todos los profesionales de la misma categoría (ya que comparten las habilidades a evaluar).</p> @*o realizarla para un profesional en particular seleccionandolo en los filtros de búsqueda.</p>*@                   
                </div>
            </div>
        </div>
    </div>
    if (Model.UsuarioCategoriaProyectos.Any())
    {
        using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ts-form" }))
        {
            @Html.Hidden("FORM.IdCategoria", Model.FORM.IdCategoria)
            @Html.Hidden("FORM.IdProyecto", Model.FORM.IdProyecto)
            @Html.Hidden("FORM.Periodo", Model.FORM.Periodo)
            <div class="row">
                <div class="col-md-12" style="overflow-x: scroll;">
                    @Html.ValidationSummary()
                    <table class="table-striped table">
                        <tr>
                            <th></th>
                            @foreach (var pregunta in Model.Preguntas.OrderBy(x => x.IdTipoPregunta))
                            {
                                <th data-toggle="tooltip" data-placement="top" title="@pregunta.FormulacionPregunta">@pregunta.Habilidad</th>
                            }
                        </tr>
                        @{
                            int i = 0;
                            foreach (var usuarioCategoriaProyecto in Model.UsuarioCategoriaProyectos)
                            {
                                var evaluacionFORM = Model.EvaluacionFORMs.FirstOrDefault(x => x.IdUsuarioCategoriaProyecto == usuarioCategoriaProyecto.IdUsuarioCategoriaProyecto);
                                //@Html.Hidden(String.Format("EvaluacionFORMs[{0}].Fecha", i), Model.FORM.Fecha)
                                @Html.Hidden(String.Format("EvaluacionFORMs[{0}].IdUsuarioCategoriaProyecto", i), usuarioCategoriaProyecto.IdUsuarioCategoriaProyecto)
                                if (evaluacionFORM != null)
                                {
                                    @Html.Hidden(String.Format("EvaluacionFORMs[{0}].IdEvaluacion", i), evaluacionFORM.IdEvaluacion)
                                }
                                <tr>
                                    <th>
                                        @String.Format("{0}", usuarioCategoriaProyecto.Usuario.NombreCompleto)
                                    </th>
                                    @{
                                        int j = 0;
                                        foreach (var pregunta in Model.Preguntas.OrderBy(x => x.IdTipoPregunta))
                                        {
                                            int? valor = null;
                                            <td>
                                                @if (evaluacionFORM != null && evaluacionFORM.EvaluacionPreguntaDTOs.Any(x => x.IdPregunta == pregunta.IdPregunta))
                                                {
                                                    var evaluacionPreguntaDTO = evaluacionFORM.EvaluacionPreguntaDTOs.SingleOrDefault(x => x.IdPregunta == pregunta.IdPregunta);
                                                    valor = evaluacionPreguntaDTO.ValorObtenido;
                                                    @Html.Hidden(String.Format("EvaluacionFORMs[{0}].EvaluacionPreguntaDTOs[{1}].IdEvaluacionPregunta", i, j), evaluacionPreguntaDTO.IdEvaluacionPregunta)
                                                }
                                                @Html.Hidden(String.Format("EvaluacionFORMs[{0}].EvaluacionPreguntaDTOs[{1}].IdPregunta", i, j), pregunta.IdPregunta)
                                                @Html.TextBox(String.Format("EvaluacionFORMs[{0}].EvaluacionPreguntaDTOs[{1}].ValorObtenido", i, j), valor.GetValueOrDefault(5), new { @class = "form-control", min = "1", max = "5" })
                                                @*<div class="input-group-btn-vertical">
                                                    <button class="btn btn-default btn-xs" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
                                                    <button class="btn btn-default btn-xs" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                                </div>*@                                          
                                                @Html.ValidationMessage(String.Format("EvaluacionFORMs[{0}].EvaluacionPreguntaDTOs[{1}].ValorObtenido", i, j))
                                            </td>
                                            j++;
                                        }
                                    }
                                </tr>
                                i++;
                            }
                        }
                    </table>
                </div>
            </div>
            <br/>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        }
    }
}

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Valoración de Comportamiento</h5>
            </div>
            <table class="table">
                <tr>
                    <th>
                        1
                    </th>
                    <td>
                        No alcanza lo mínimo requrido
                    </td>
                </tr>
                <tr>
                    <th>
                        2
                    </th>
                    <td>
                        Inferior a lo esperado
                    </td>
                </tr>
                <tr>
                    <th>
                        3
                    </th>
                    <td>
                        Suficiente (lo esperado para el cargo)
                    </td>
                </tr>
                <tr>
                    <th>
                        4
                    </th>
                    <td>
                        Superior a lo esperado
                    </td>
                </tr>
                <tr>
                    <th>
                        5
                    </th>
                    <td>
                        Supera en forma excepcional lo esperado
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
