@model DESSAU.ControlGestion.Web.Models.UsuarioModels.CrearEditarUsuarioViewModel

@{
    ViewBag.Title = "DESSAU";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", id = "form-nuevo-usuario" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            @if (Model.Form.IdUsuario.HasValue)
            {
                <h4>Editar Usuario</h4>
            }
            else
            {
                <h4>Agregar Usuario</h4>
            }
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary()
                    @Html.HiddenFor(x => x.Form.IdUsuario)
                    @Html.HiddenFor(x => x.Form.CreacionUsuario)
                    @if (Model.Form.IdUsuario.HasValue)
                    {
                        @Html.HiddenFor(x => x.Form.Correo)
                    }
                </div>
            </div>
            <div class="form-group">
                <label for="Nombre" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.Nombre)</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Form_Nombre" name="Form.Nombre" placeholder="Nombre" value="@Model.Form.Nombre" />
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.Nombre)
                </div>
            </div>
            <div class="form-group">
                <label for="ApellidoPaterno" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.ApellidoPaterno)</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Form_ApellidoPaterno" name="Form.ApellidoPaterno" placeholder="Apellido Paterno" value="@Model.Form.ApellidoPaterno" />
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.ApellidoPaterno)
                </div>
            </div>
            <div class="form-group">
                <label for="contacto" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.Contacto)</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="Form_Contacto" name="Form.Contacto" placeholder="Contacto" value="@Model.Form.Contacto" />
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.Contacto)
                </div>
            </div>
            <div class="form-group">
                <label for="NombreUsuario" class="col-md-2 control-label">@Html.LabelFor(x => x.Form.Correo)</label>
                <div class="col-md-5">
                    @if (Model.Form.CreacionUsuario)
                    {
                        <input type="text" class="form-control" id="Form_Correo" name="Form.Correo" placeholder="Nombre Usuario" value="@Model.Form.Correo" />
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.Form.Correo, new { disabled = "disabled", @readonly = "readonly", @class = "form-control" })
                    }
                </div>
                <div class="col-md-5">
                    @Html.ValidationMessageFor(x => x.Form.Correo)
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <tr>
                <th class="col-md-2">
                </th>
                <th class="col-md-5">
                    Tipo de Usuario
                </th>
                <th class="col-md-5">
                    Descripción
                </th>
            </tr>
            @foreach (var item in Model.TiposUsuario)
            {
                <tr>
                    <td class="col-md-2">
                        @if (Model.Form.IdTipoUsuario == item.IdTipoUsuario)
                    {
                            <input checked="checked" type="radio" name="FORM.idTipoUsuario" id="permiso-@item.Nombre"
                                   value="@item.IdTipoUsuario" />
                        }
                        else
                        {
                            <input type="radio" name="FORM.idTipoUsuario" id="permiso-@item.Nombre"
                                   value="@item.IdTipoUsuario" />
                        }
                    </td>
                    <td class="col-md-5">
                        @(item.Nombre)
                    </td>
                    @*<td class="col-md-5">
                        @(item.Descripcion)
                    </td>*@
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <div class="col-md-3">
            <input type="submit" value="Guardar" class="btn btn-primary" />
        </div>
    </div>
}






