@using DESSAU.ControlGestion.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Athus Evaluación Psicolaboral";
}

<div class="container-fluid">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Iniciar sesión</h4>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group" style="padding-left:15px">
                        @Html.LabelFor(m => m.Email)

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="padding-left:15px">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>

                    <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                }

            </div>
        </div>

        @*<div>
                <table style="font-size: 1.25em">
                    <tbody>
                        <tr>
                            <td><h3><span class="glyphicon glyphicon-signal text-success"></span></h3></td>
                            <td>&nbsp;&nbsp;Revise indicadores sobre el PEC de manera autónoma y fácil</td>
                        </tr>
                        <tr>
                            <td><h3><span class="glyphicon glyphicon-ok text-warning"></span></h3></td>
                            <td>&nbsp;&nbsp;Monitoree desempeños individuales del personal en contacto</td>
                        </tr>
                        <tr>
                            <td><h3><span class="glyphicon glyphicon-time text-danger"></span></h3></td>
                            <td>&nbsp;&nbsp;Controle tendencias de los indicadores en el tiempo</td>
                        </tr>
                    </tbody>
                </table>
            </div>*@
    </div>
    @*<div class="col-md-6">
        <center>
            <a class="brand" href="http://www.althuspartners.cl/" target="_blank" alt="Responsive image">
                <img src="@Url.Content("~/Content/images/logo-althus.png")" />
            </a>
        </center>
    </div>*@

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}