@model DESSAU.ControlGestion.Web.Models.TimeSheetModels.VerTimeSheetViewModel

@{
    ViewBag.Title = "DESSAU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        @switch (Model.FORM.IdTipoTimeSheet)
        {
            case TipoTimeSheet.Planificacion:
                <h2><i class="fa fa-table fa-fw"></i> @String.Format("Planificación {0}", Model.FORM.Fecha.GetValueOrDefault().ToString("MMMM"))</h2>
                break;
            case TipoTimeSheet.Reportado:
                <h2><i class="fa fa-edit fa-fw"></i>@String.Format("Declaración de Avances {0}", Model.FORM.Fecha.GetValueOrDefault().ToString("MMMM"))</h2>
                break;
        }
    </div>
</div>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fecha</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <form class="navbar-form navbar-left" role="search" method="get">
                @Html.HiddenFor(x => x.FORM.IdTipoTimeSheet)
                <div class="form-group">
                    @Html.TextBoxFor(x => x.FORM.Fecha, "{0:dd/MM/yyyy}", new { @class = "fecha form-control foco" })
                </div>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DropDownListFor(x => x.FORM.IdUsuario, Model.Usuarios, "Seleccione un Profesional", new { @class = "form-control" })
                }
                <button type="submit" class="btn btn-default">Buscar</button>
                @Html.ButtonIconActionLink("chevron-left", "Semana Anterior", null, null, null, new { Fecha = Model.FORM.Fecha.Value.AddDays(-7).ToShortDateString(), IdTipoTimeSheet = Model.FORM.IdTipoTimeSheet })
                @Html.ButtonIconActionLink("chevron-right", "Semana Siguiente", null, null, null, new { Fecha = Model.FORM.Fecha.Value.AddDays(7).ToShortDateString(), IdTipoTimeSheet = Model.FORM.IdTipoTimeSheet })
            </form>
        </div>
    </div>
</nav>

@if (Model.UsuarioCategoriaProyectos.Any())
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-@Model.FORM.ClaseBootstrap">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.UsuarioCategoriaProyectos.First().Usuario.NombreCompleto</h3>
                </div>
                <div class="panel-body">
                    <h6>@Model.UsuarioCategoriaProyectos.First().Proyecto.Nombre</h6>
                    <h6>@Model.UsuarioCategoriaProyectos.First().Categoria.Nombre</h6>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ts-form" }))
        {
            @Html.HiddenFor(x => x.FORM.ClaseBootstrap)
            int index_categoriaProyecto = 0;
            foreach (var item in Model.UsuarioCategoriaProyectos)
            {
                int index_timeSheet = 0;
                DESSAU.ControlGestion.Web.Models.TimeSheetModels.TimeSheetCategoriaProyectoDTO usuarioCategoriaProyectos = Model.TimeSheetFORM.SingleOrDefault(x => x.IdUsuarioCategoriaProyecto == item.IdUsuarioCategoriaProyecto);
                <input name="@String.Format("TimeSheetFORM[{0}].IdUsuarioCategoriaProyecto", index_categoriaProyecto)" type="hidden" value="@item.IdUsuarioCategoriaProyecto" />

                <div class="progress">
                    <div class="progress-bar progress-bar-@Model.FORM.ClaseBootstrap progress-bar-striped active" role="progressbar" aria-valuenow="@Model.calc.HorasIngresadas.ToString()" aria-valuemin="0" aria-valuemax="@Model.calc.CalculoHoraTotal.ToString()" style="width: @Model.calc.Porcentaje.ToString()%">
                    </div>
                </div>

                <hr />
                if (!Model.EsReporte)
                {
                    <input type="submit" name="FORM.Accion" class="btn btn-@Model.FORM.ClaseBootstrap" value="Guardar" /><br /><br />
                }

                <input type="hidden" name="FORM.IdTipoTimeSheet" value="@Model.FORM.IdTipoTimeSheet" />
                <input type="hidden" name="FORM.Fecha" value="@Model.FORM.Fecha.Value.ToShortDateString()" />
                @Html.ValidationMessage(String.Format("TimeSheetFORM[{0}].TimeSheetDTOs", index_categoriaProyecto))
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="">
                            <th class="">
                            </th>
                            @foreach (var dia in Model.getFechaDesdeHasta)
                            {
                                <th class="center">
                                    @dia.ToString("ddd dd/MM")
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var actividad in item.Categoria.CategoriaActividads.Select(x => x.Actividad)
                            .OrderBy(x => x.IdTipoActividad).ThenBy(x => x.Nombre))
                        {
                            string style = actividad.IdTipoActividad == 2 ? style = "background-color:cornflowerblue;" : null;
                            <tr class="">
                                <th class="left" style="@style">
                                    @actividad.Nombre
                                </th>                             
                                @foreach (var dia in Model.getFechaDesdeHasta)
                                {
                                    if (!Model.DiaEspecials.Any(x => x.Fecha == dia))
                                    {
                                        string baseName = String.Format("TimeSheetFORM[{0}].TimeSheetDTOs[{1}]", index_categoriaProyecto, index_timeSheet);
                                        var timeSheetFormItem = usuarioCategoriaProyectos != null ? usuarioCategoriaProyectos.TimeSheetDTOs
                                            .SingleOrDefault(x => x.Fecha.Value.Date == dia.Date && x.IdActividad == actividad.IdActividad)
                                            : null;
                                        var timeSheetValue = 0;
                                        
                                        <td class="" style="@style">
                                            @switch (Model.FORM.IdTipoTimeSheet)
                                            {
                                                case TipoTimeSheet.Planificacion:
                                                    timeSheetValue = timeSheetFormItem != null ? timeSheetFormItem.HorasPlanificadas.GetValueOrDefault(timeSheetFormItem.Horas.GetValueOrDefault(0)) : 0;
                                                    break;
                                                case TipoTimeSheet.Reportado:
                                                    timeSheetValue = timeSheetFormItem != null ? timeSheetFormItem.HorasReportadas.GetValueOrDefault(timeSheetFormItem.Horas.GetValueOrDefault(0)) : 0;
                                                    break;
                                            }
                                            @if (timeSheetFormItem != null)
                                            {
                                                <input name="@String.Format("{0}.IdTimeSheet",baseName)" type="hidden" value="@timeSheetFormItem.IdTimeSheet" />
                                            }
                                            <input name="@String.Format("{0}.Fecha",baseName)" type="hidden" value="@dia.Date" />
                                            <input name="@String.Format("{0}.IdActividad",baseName)" type="hidden" value="@actividad.IdActividad" />
                                            <div class="input-group spinner @String.Format("diaCategoriaProyecto_{0}_{1}", index_categoriaProyecto, (int)dia.DayOfWeek) ">
                                                <input name="@String.Format("{0}.Horas",baseName)" type="text" data-dia="@((int)dia.DayOfWeek)" data-categoria="@(index_categoriaProyecto)" value="@timeSheetValue" class="input-timesheet form-control @String.Format("numero_{0}_{1}", index_categoriaProyecto, (int)dia.DayOfWeek)" />
                                                <div class="input-group-btn-vertical">
                                                    @*onchange="@String.Format("suma('{0}','{1}')", (int)dia.DayOfWeek, index_categoriaProyecto)"*@ 
                                                    <button class="btn btn-default btn-xs" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button>
                                                    <button class="btn btn-default btn-xs" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        index_timeSheet++;
                                    }
                                    else
                                    {
                                        <td class="success">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </td>
                                    }                                    
                                }
                            </tr>
                        }
                    </tbody>
                    <thead>
                        <tr>
                            <th>Total</th>
                            @foreach (var dia in Model.getFechaDesdeHasta)
                            {
                                if (Model.DiaEspecials.Any(x => x.Fecha == dia))
                                {
                                    <th class="success">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </th>
                                }
                                else
                                {
                                    if (dia.DayOfWeek == DayOfWeek.Friday)
                                    {
                                        <th class="center total-viernes">
                                            <span id="@String.Format("total_dia_{0}_{1}", index_categoriaProyecto, (int)dia.DayOfWeek)" class="center">
                                                @(usuarioCategoriaProyectos != null ? usuarioCategoriaProyectos.TimeSheetDTOs.Where(x => x.Fecha == dia).Sum(x => x.HorasPlanificadas.GetValueOrDefault(0)).ToString("N0") : "0")
                                            </span>
                                        </th>
                                    }
                                    else
                                    {
                                        <th class="center totales">
                                            <span id="@String.Format("total_dia_{0}_{1}", index_categoriaProyecto, (int)dia.DayOfWeek)" class="center">
                                                @(usuarioCategoriaProyectos != null ? usuarioCategoriaProyectos.TimeSheetDTOs.Where(x => x.Fecha == dia).Sum(x => x.HorasPlanificadas.GetValueOrDefault(0)).ToString("N0") : "0")
                                            </span>
                                        </th>
                                    }
                                }
                            }
                        </tr>
                    </thead>
                </table>
                index_categoriaProyecto++;
                if (!Model.EsReporte)
                {
                    <input id="bla" type="submit" name="FORM.Accion" class="btn btn-@Model.FORM.ClaseBootstrap" value="Guardar" />
                }
            }
        }
    </div>
</div>
@section Scripts {
<script type="text/javascript">
        (function ($) {
            $('.input-timesheet').numeric({ decimal: false, negative: false });
            $('.spinner .btn:first-of-type').on('click', function () {
                if (isNaN(parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10))) {
                    $(this).closest(".spinner").find('input[type="text"]').val(0);
                }else if (parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10)<10) {
                    $(this).closest(".spinner").find('input[type="text"]').val(parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10) + 1);
                    $(this).closest(".spinner").find('input[type="text"]').change();
                }

            });
            $('.spinner .btn:last-of-type').on('click', function () {
                if (isNaN(parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10))) {
                    $(this).closest(".spinner").find('input[type="text"]').val(0);
                }else if (parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10) > 0) {
                    $(this).closest(".spinner").find('input[type="text"]').val(parseInt($(this).closest(".spinner").find('input[type="text"]').val(), 10) - 1);
                    $(this).closest(".spinner").find('input[type="text"]').change();
                }
            });
                
            $('.input-timesheet').change(function(){
                suma($(this).data("dia"), $(this).data("categoria"));
            });
            $('.input-timesheet').each(function () {
                pinta($(this));
            });
            $('.input-timesheet').change();
            pintaTotales();
        })(jQuery);

        function suma(dia, categoria) {
            var sum = 0;
            $('.numero_' + categoria + '_' + dia).each(function () {
                sum += Number($(this).val());
                pinta($(this));
            });
            $('#total_dia_' + categoria + '_' + dia).html(sum);               
            pintaTotales();
        }

        function pinta(obj) {
            if (obj.val() != '0') {
                obj.css('background-color', '#99FFCC')
            }
            else {
                obj.css('background-color', '#fff')
            }
        }

        function pintaTotales() {
            $('.totales').each(function () {
                var total = $.trim($(this).children('span').text());
                if (total == '10') {
                    $(this).css('background-color', '#99FFCC')
                }
                else if (total=='0') {
                    $(this).css('background-color', '#fff')
                }
                else {
                    $(this).css('background-color', 'Red')
                }
            });

            $('.total-viernes').each(function () {
                var total = $.trim($(this).children('span').text());
                if (total == '5') {
                    $(this).css('background-color', '#99FFCC')
                }
                else if (total == '0') {
                    $(this).css('background-color', '#fff')
                }
                else {
                    $(this).css('background-color', 'Red')
                }
            });
        }

        $('#ts-form').submit(function (event) {
            $('input[type="submit"]').prop('disabled', true);
        });

</script>
}